@use "../utilities/extend";
@use "../utilities/variables";

.basquet{
    .p-deportes{
        @extend %p;
    }
    .img-deportesbasquet{
        text-align: center;
        img{
            width: 400px;
            border: 3px solid variables.$green-color1;
        }
    }
}

.tenis{
    .p-deportes{
        @extend %p;
    }
    .img-deportestenis{
        text-align: center;
        img{
            width: 400px;
            border: 3px solid variables.$green-color1;
        }
    }
}

.atletismo{
    .p-deportes{
        @extend %p;
    }
}