@use "../utilities/variables";

h1{

    font-size: 100px;
    text-align: center;
    font-weight: 400;
    color: variables.$green-color1;
  
}

h2{

    margin: 15px;
    padding: 15px;
    font-weight: 400;
    color: variables.$black-color;
    font-size: 40px;

}