@use "../utilities/variables";
@use "../utilities/extend";

.dropdown-institucional{
    
    .btn-institucional{
        border: 2px solid variables.$green-color1;
        font-size: 25px;
    }
    justify-self: center;
    .dropdown-menu{
        background-color: variables.$green-color1;
        border: 1px solid variables.$black-color;
        color: variables.$white-color;
        justify-content: center;
        .dropdown-item{
            color: variables.$white-color;
            .dropdown-item:focus, .dropdown-item:hover {
                background-color: variables.$white-color;
                color: variables.$green-color1;
            }
        }
    }
}
.container-institucional{
    margin: 20px 10px;
    .p-institucional {
        @extend %p;
    }

    img {
        @extend %img-width;
        border: 3px solid variables.$green-color1;
        border-radius: 2000px;
    }
}