@use "./variables";

%p{
    font-size: 16px;
    margin: 20px 50px;
}

%fechanoticias{
    font-size: 12px;
    text-align: center;
}

%img-width {
    width: 100%;
    height: auto;
}

%gallery-img{
    justify-self: center;
    align-self: center;
    width: 500px;
    height: 400px;
    border: 3px solid variables.$green-color1;
}