/* FUENTE Crimson Text*/
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
/*font-family: "Crimson Text", serif;*/
*{
    margin: 0;
    padding: 0;
}
body{ /*ESTILADO PARA BODY GENERAL*/

    font-family: "Crimson Text", serif;
}

/*ESTILADO PARA HEADER INICIO*/

/* header{

    border: 5px solid #2ca03b;
    border-radius: 15px;
    margin: 0px 5px;
    background-color: blue;
} */

.container-fluid{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.collapse {

    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: #000000;

}

.navbar-brand img{

    width: 80px

}

.navbar{

    border: 5px solid #2ca03b;
    border-radius: 15px;
    margin: 0px 5px;
}

.btn-outline-success{

    background-color:#2ca03b;
    color: #000000;
    height: auto;

}

.form-control{
    border: 1px solid #2ca03b;
}
/*ESTILADO HEADER FINAL*/

/*ESTILADO DE FOOTER INICIO*/

footer{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    gap: 20px;
    border-top: 2px solid #2ca03b;
    padding-top: 15px;
}

.footer-p{
    font-size: 15px;
}

.logoparafooter{

    width: 80px;

}

/*ESTILADO DE FOOTER HASTA ACA*/

h2{

    margin: 15px;
    padding: 15px;
    font-weight: 400;
    color: black;
    font-size: 40px;

}

.deportes{

    font-weight: 500;
    font-size: 45px;
    text-decoration: underline;
    color: #2ca03b;

}

h1{

    font-size: 100px;
    text-align: center;
    font-weight: 400;
    color: #2ca03b;
  
}

/*ESTILADO MAIN-HOME INICIO*/

.container-noticias{

    margin: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    justify-items: center;
    grid-template-areas: 
    "img-noticias1 article-noticias1 article-noticias1 proximos-partidos"
    "img-noticias2 article-noticias2 article-noticias2 proximos-partidos"
    "img-noticias3 article-noticias3 article-noticias3 proximos-partidos";
    gap: 15px;
}

.proximos-partidos{
    grid-area: proximos-partidos;
    align-self: self-start;
    border: 3px solid #2ca03b;
    border-radius: 10px;
    padding: 10px 15px;
}

.img-noticias1{
    grid-area: img-noticias1;
}

.img-noticias2{
    grid-area: img-noticias2;
}

.img-noticias3{
    grid-area: img-noticias3;
}


.article-noticias1{
    grid-area: article-noticias1;
}

.article-noticias2{
    grid-area: article-noticias2;
}

.article-noticias3{
    grid-area: article-noticias3;
}
/*ESTILADO MAIN-HOME FINAL*/

/*ESTILADO PAGINA INSTITUCIONAL INICIO*/

.dropdown-menu{
    background-color: #2ca03b;
    border: 1px solid black;
    color: #fafafa;
    justify-content: center;
}

.dropdown-item:focus, .dropdown-item:hover {

    background-color: #fafafa;
    color: #2ca03b;
}
.btn-institucional{
    border: 2px solid #2ca03b;
    font-size: 25px;
}
.dropdown-institucional{
    justify-self: center;
}
.dropdown-item{
    color: #fafafa;
}

.p-institucional{
    font-size: 20px;
    margin: 20px;
}
.img-institucional{
    text-align: center;
}
/*ESTILADO PAGINA INSTITUCIONAL FINAL*/

/* PSEUDOCLASES Y BEM */

/*nav a:hover {
color: white; /* el texto se vuelve naranja */
/*text-decoration: underline;
text-decoration-color: #2ca03b;*/
/*border: 1px solid black;
border-radius: 15px;
border-style: hidden;*/
/*padding: 10px;
background-color: #2ca03b;*/

/*}*/

/* Mantener accesibilidad del foco 
input:focus-visible {
outline: 3px solid #1e90ff;
outline-offset: 2px;
border-color: #1e90ff;
} */

/*button:active {
background-color: darkblue;
transform: scale(0.95); /* efecto de presión */

.campeonatos-ol {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
  

}

.campeonatos-li {

    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
  
}

.campeonatos-li a{
    text-decoration: none;
    list-style-type: none;
    color: #2ca03b;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 30px;
}

.futbol-resumen {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
    margin: 20px 50px;

}

.futbol-resumen img {

    width: 100%;
    height: auto;

}

.plantel input {

    display: flex;
    flex-direction: row;
    justify-self: center;
    font-size: 30px;
    padding: 10px 50px;
    font-weight: 200;
    margin: 20px 0;
    background-color: #2ca03b;
    cursor: pointer;

}

.gallery{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 450px);
    gap: 50px 20px;
    justify-content: space-around;
    grid-template-areas: "video video video"
    "video video video"
    "foto1 foto2 foto3"
    "foto4 foto5 foto6";

}

video{

    grid-area: video;
    width: 50%;
    justify-self: center;
    align-self: center;

}
.foto1{

    grid-area: foto1;
    justify-self: center;
    align-self: center;

}

.foto2{

    grid-area: foto2;
    justify-self: center;
    align-self: center;

}

.foto3{

    grid-area: foto3;
    justify-self: center;
    align-self: center;

}

.foto4{

    grid-area: foto4;
    justify-self: center;
    align-self: center;

}

.foto5{

    grid-area: foto5;
    justify-self: center;
    align-self: center;

}

.foto6{

    grid-area: foto6;
    justify-self: center;
    align-self: center;

}

/* MEDIA QUERIES*/

@media (max-width: 451px) {
    .container-noticias{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "proximos-partidos"
        "img-noticias1"
        "article-noticias1"
        "img-noticias2"
        "article-noticias2"
        "img-noticias3"
        "article-noticias3";
        justify-content: normal;
        gap: 5px;      
    }
    .container-noticias h2{
        font-size: 25px;
        justify-self: center;
    }
    .article-noticias1 p{
        font-size: 15px;
        width: 350px;
    }
    .article-noticias2 p{
        font-size: 15px;
        width: 350px;
    }
    .article-noticias3 p{
        font-size: 15px;
        width: 350px;
    }
    h1{
        font-size: 60px;
    }
    .proximos-partidos{
        margin-bottom: 10px;
    }
    footer{
        flex-direction: column;
    }
    .campeonatos-ol{
        flex-direction: column;
        align-items: center;
    }
    .campeonatos-li {
        margin-top: 10px;
}
    .plantel input{
        font-size: 15px;
        padding: 10px 25px;
        margin: 20px 0;
    }
    .p-institucional{
    font-size: 15px;
    }
    .btn-institucional{
    border: 2px solid #2ca03b;
    font-size: 15px;
}
}

